<h1>Welcome to the Moped Shop Database Interaction Site! </h1>
<h3>By Scott Wickersham, for OSU CS-340</h3>


<div>
  <p>
      This website is for managers of moped shops to keep track of their </br>
      customers, mopeds, parts inventory and invoices.</br>
</br>
      Please use the table links above to search, add, view, update or delete information from </br>
      this database.</br>


  </p>
</div>
